.container-404 {
	text-align: center;
	max-width: 400px;
	margin: 0 auto;
}

.container-404 h1 {
	font-size: 80px;
	margin: 0 0 12px;
}

.container-404 p {
	margin: 0 0 18px;
	font-size: 19px;
}

.container-404 a {
	text-decoration: none;
	color: var(--hover-button);
}
